

<body  ng-controller="dealController">
    <!-- HEADER AND TODO COUNT -->
  <div class="col-sm-12 ">
   <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">  <h1>Create deal</h1> </div>
      <div class="card-body">
       

        <form>
 
          <div class="form-group">
            
          <input class="form-control" id="exampleInputEmail1"   ng-model="form.Cname" type="text" aria-describedby="emailHelp" placeholder="Company Name">
          </div>

          <div class="form-group">
            
            <input class="form-control" id="exampleInputEmail1" type="text" ng-model="form.Caddress" aria-describedby="emailHelp" placeholder="Company Address">
          </div>
          <h6 style="color:green">SALES PERSON NAME</h6>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-4">
               
                <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" ng-model="form.spn" placeholder="Sales Rep Name">
              </div>
              <div class="col-md-4">
               
                <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" ng-model="form.spe" placeholder="Sales Rep Email">
              </div>
               <div class="col-md-4">
               
                <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" ng-model="form.spp" placeholder="Sales Rep Phone">
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <div class="form-row">
              <select ng-model="form.product" >
              <div class="col-md-6">
            
              <option value="L330">LL300</option>
               <option value="L399">LL400</option>
            
              </div>
            </select>

              <div class="col-md-6">
                
              <input class="form-control" ng-model="form.quantity" id="exampleConfirmPassword" type="text"  placeholder="Quantity">
              </div>
            </div>
          </div>
            <a class="btn btn-primary btn-block"  ng-click="dealer()">create</a>
          </form>

      </div>
    </div>
  </div>

