<!--<div >
<table border="1" ng-repeat="a in test">
  <thead>
  <tr>
  <td>ComapnyName</td>
  <td>Address</td>
  <td>SalerName</td>
  <td>Email</td>
  <td>Phone</td>
  <td>Product</td>
  <td>Quantity</td>
  <td>Actions</td>
  </tr>
  </thead>
  <tbody>
  <td><input name="Cname" ng-model="a.Cname"></td>
   <td><input name="Caddress" ng-model="a.Caddress"></td>
  <td><input name="spn" ng-model="a.spn"></td>
   <td><input name="spe" ng-model="a.spe"></td>
  <td><input name="spp" ng-model="a.spp"></td>
   <td><input name="product" ng-model="a.product"></td>
  <td><input name="quantity" ng-model="a.quantity"></td>
 <td><button  ng-click="editUser(a)">Edit
  </button><button  ng-click="delete(a)">Delete</button></td>
 </tbody>
</table>

</div>-->


        <form ng-repeat="a in test">
 
          <div class="form-group">
            
         Company Name: <input class="form-control" id="exampleInputEmail1"  ng-model="a.Cname"  aria-describedby="emailHelp">
          </div>

          <div class="form-group">
            
           Company Address: <input class="form-control" id="exampleInputEmail1"  ng-model="a.Caddress" aria-describedby="emailHelp" >
          </div>
          <h6 style="color:green">SALES PERSON NAME</h6>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-4">
               
               Sales Rep Name: <input class="form-control" id="exampleInputName"  aria-describedby="nameHelp" ng-model="a.spn" >
              </div>
              <div class="col-md-4">
               
               Sales Rep Email: <input class="form-control" id="exampleInputLastName" aria-describedby="nameHelp" ng-model="a.spe">
              </div>
               <div class="col-md-4">
               
                Sales Rep Phone:<input class="form-control" id="exampleInputLastName"  aria-describedby="nameHelp" ng-model="a.spp">
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <div class="form-row">
              <label>Product</label>
              <select ng-model="a.product"  >
              <div class="col-md-6">
            
              <option value="LAVA">Lava</option>
               <option value="APPLE">Apple</option>
            
              </div>
            </select>

              <div class="col-md-6">
                
              Quantity:<input class="form-control" ng-model="a.quantity" id="exampleConfirmPassword" name="quantity">
              </div>
            </div>
          </div>
           <div class="form-group">
            <div class="form-row">
               <div class="col-md-6">
            <a class="btn btn-primary btn-block"  ng-click="editUser(a)">EDIT</a>
          </div>
             <div class="col-md-6">
             <a class="btn btn-primary btn-block"  ng-click="delete(a)">DELETE</a>
           </div>
         </div>
       </div>
 
          </form>
