
Search:<input type="text" ng-model="searchText">
       
      Deal list : 

                   <select ng-model="stu" >
                    <option  ng-click="getClass(class)"  ng-repeat="class in classes" value="{{class.id}}">{{class.class}} </option>
                    </select>

                 <!--   <select ng-model="stu"  ng-options="ALL as class.class for class in classes" >
                   <option  ng-click="getClass(class)"></option>
                   </select> -->

                     
{{stu}}
                



<h6 style="float: left,margin-right:100px"><a href="#/dealer">Create Deal</a></h6>
<table  border="1">
  <thead>
  <tr>
  <td>CName</td>
  <td>Address</td>
  <td>SalerName</td>
  <td>Email</td>
  <td>Phone</td>
  <td>Product</td>
  <td>Quantity</td>
  <td>Actions</td>
  </tr>
  </thead>
  <tbody ng-repeat="a in userList | filter:searchText">
  <td>{{a.Cname}}</td>
  <td>{{a.Caddress}}</td>
  <td>{{a.spn}}</td>
  <td>{{a.spe}}</td>
  <td>{{a.spp}}</td>
  <td>{{a.product}}</td>
  <td>{{a.quantity}}</td>
  <td><a href="#/edit">Edit
  </a><a ng-click="delete(a)">Delete
  </a></td>
 </tbody>
</table>