
<body class="bg-dark" >
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form>
          <h6 style="text-align: center">Create your partner deals</h6><br><br>
          <div class="form-group">
           
            <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Name">
          
        </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
               
                <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Email ID">
              </div>
              <div class="col-md-6">
               
                <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Password">
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
               
                <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Phone No">
              </div>
              <div class="col-md-6">
                
                <input class="form-control" id="exampleConfirmPassword" type="password" placeholder="Mobile No">
              </div>
            </div>
          </div>
          <a class="btn btn-primary btn-block" ui-sref="login">Register</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" ui-sref="login">Login Page</a>

          <a class="d-block small" ui-sref="forget">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
 
</body>

</html>
