

<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              
                <li>
                    <a ui-sref="dealer">DEALS</a>
                </li>
                
               
            </ul>
        </div>

