

<nav class="navbar navbar-default navbar-static-top">
<div class="navbar-header">
             
                <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
            </div>
            <!-- /.navbar-header -->
         <div style="float:right; width: 120px;"><i class="fa fa-envelope fa-fw"></i><a href="#/login">Logout</a> </div>
        </nav>