<div class="col-md-6 col-md-offset-3">
    
<body style="color: white" >
  <h1 style="text-align: center">Heading about DEAL</h1>
  <p style="text-align: center;">Description:create a deal with us</p><br>
  <p style="text-align: center; color: red"><a ui-sref="list">Create deal</a></p>

  
</body>

    